/* css styles */
/* Estilo para agrandar el logo en la barra de navegación */
.navbar-brand img {
    max-height: 55px; /* Cambia este valor según el tamaño deseado */
    height: auto;
    width: auto;
}
body {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar-logo img {
    height: 30px;
    margin-right: 10px;
}
